{% assign header_post_html = null %}
{% capture header_post_html %}
	{% assign page_tags_present = false %}

	{% if page.tags.size > 0 %}
		{% assign page_tags_present = true %}

		{% assign page_tag_name = null %}
		{% capture page_tag_names %}
			{% for page_t in page.tags %}
				{{ page_t | replace: ' ', '___' }}
			{% endfor %}
		{% endcapture %}

		{% assign sorted_page_tag_names = null %}
		{% capture sorted_page_tag_names %}
			{{ page_tag_names | split:' ' | sort | join:' ' }}
		{% endcapture %}

		{% assign number_of_page_tags = null %}
		{% capture number_of_page_tags %}
			{{ sorted_page_tag_names | number_of_words }}
		{% endcapture %}
	{% endif %}

	<div class="page-header">
		{% if page.title %}
			<h2>
				<small>{{ page.date | date: "%B %-d, %Y" }}</small>
				<br />
				{{ page.title }}
			</h2>
		{% elsif site.description %}
			<h1>{{ site.description }}</h1>
		{% endif %}

		{% if page.subtitle %}
			<h4>{{ page.subtitle }}</h4>
		{% endif %}

	</div>
{% endcapture %}
{{ header_post_html | strip_newlines | remove:'	' }}
