---
layout: page
exclude: false
---

{% assign index_page_html = null %}
{% capture index_page_html %}

	{% for p in paginator.posts %}
		<div class="ghpb-post">

			<div class="postmeta">{{ p.date | date: "%B %-d, %Y" }} &ndash;
				{% assign prefix = '' %}
				{% for t in p.tags %}{{ prefix }}<a href="{{ site.url }}/tags/{{ t | replace: " ","" }}">{{ t }}</a>{% assign prefix = ', ' %}{% endfor %}
			</div>

			<h2><a href="{{ site.url }}{{ p.url }}">{{ p.title }}</a></h2>

			{% if p.image %}
			<div class="row">
				<div class="span5 offset1">
					<a href="{{ site.url }}{{ p.url }}"><img src="{{ p.image }}" alt="{{ p.title }}" /></a>
				</div>
			</div>
			{% endif %}

			{% if p.youtube %}
				<div class='embed-container'><iframe src="https://www.youtube.com/embed/{{p.youtube}}" frameborder="0" allowfullscreen></iframe></div>
			{% endif %}

			<br>

			{{ p.excerpt }}

			<p class="pull-right" style="margin-top: -25px"><small><a href="{{ site.url }}{{ p.url }}">Full post &raquo;</a>
			</small></p>

		</div>
		<br>
	{% endfor %}

	<div class="pagination">
		<div class="row">
			<div class="span6 text-center">
				{% if paginator.previous_page %}
					{% if paginator.previous_page == 1 %}
						<a href="{{ site.url }}/" class="previous">&laquo; Previous</a>
					{% else %}
						<a href="{{ site.url }}/page{{paginator.previous_page}}" class="previous">&laquo; Previous</a>
					{% endif %}
				{% endif %}
				 &nbsp; <span class="page_number">Page {{paginator.page}} of {{paginator.total_pages}}</span> &nbsp;

				{% if paginator.next_page %}
					<a href="{{ site.url }}/page{{paginator.next_page}}" class="next">Next &raquo;</a>
				{% endif %}
			</div>
		</div>
	</div>

{% endcapture %}
{{ index_page_html | strip_newlines | remove:'	' }}

<!--
TYeF4P&ms7FdUw7MY6zj^FU}KwfVM#
ZvDVVmAEj8,/AxUjR2AYBt9Lu?9o?Y
wT1k`rs76>HDQ*]Hn.U/72tx7ckD9u
=&X6j3{iqXXR9UViHErVYgUEF(9fRg
fx#7bx7zhQdMrm$?ndoGNG6pf?bjj4
hhcf2FCj$8>9vekTVHRsbp(gH#6FPB
Z=URVLb7mmR9]NY=YZ3(MDBGXKar9w
-->
