---
layout: page
exclude: false
---

{% assign index_page_html = null %}
{% capture index_page_html %}
	<script type="text/javascript">
    	var index = true;
	</script>
	{% for p in paginator.posts %}
		<div class="ghpb-post">
				{% if p.title %}
					<h2>
						<small>{{ p.date | date: "%B %-d, %Y" }}</small>
						<br />
						<a href="{{ site.url }}{{ p.url }}" style="color: black;">{{ p.title }}</a></h2>
				{% else %}
					<h2><a href="{{ site.url }}{{ p.url }}" style="color: black;">{{ site.description }}</a></h2>
				{% endif %}
				{% if p.subtitle %}
					<h4>{{ p.subtitle }}</h4>
				{% endif %}

				{% if p.image %}
				<div class="row">
					<div class="span5 offset1">
						<a href="{{ site.url }}{{ p.url }}"><img src="{{ p.image }}" alt="{{ p.title }}" /></a>
					</div>
				</div>
				{% endif %}

				{% if p.alert or p.notice %}
					<br>
					{% if p.alert %}
					<div class="alert alert-block">
						{{ p.alert }}
					</div>
					{% endif %}

					{% if p.notice %}
					<div class="alert alert-block alert-success">
						{{ p.notice }}
					</div>
					{% endif %}
				{% endif %}

				<br>
				{{ p.excerpt }}
				
				<p class="pull-right" style="margin-top: -25px"><small><a href="{{ site.url }}{{ p.url }}">Full post &raquo;</a>
				</small></p>

		</div>
		<br>
	{% endfor %}

	<div class="pagination">
		<div class="row">
			<div class="span6 text-center">
				{% if paginator.previous_page %}
					{% if paginator.previous_page == 1 %}
						<a href="{{ site.url }}" class="previous">&laquo; Previous</a>
					{% else %}
						<a href="{{ site.url }}/page{{paginator.previous_page}}" class="previous">&laquo; Previous</a>
					{% endif %}
				{% endif %}
				 &nbsp; <span class="page_number">Page {{paginator.page}} of {{paginator.total_pages}}</span> &nbsp; 

				{% if paginator.next_page %}
					<a href="{{ site.url }}/page{{paginator.next_page}}" class="next">Next &raquo;</a>
				{% endif %}
			</div>
		</div>
	</div>

{% endcapture %}
{{ index_page_html | strip_newlines | remove:'	' }}
