{% assign body_post_html = null %}
{% capture body_post_html %}
	<body>
		{% include body/sections/navbar.html %}
		<div class="container">
			<div class="row">
				<div class="span8 offset2">
					<div class="ghpb-post">

						<div class="postmeta">{{ page.date | date: "%B %-d, %Y" }} &ndash;
							{% assign prefix = '' %}
							{% for t in page.tags %}{{ prefix }}<a href="{{ site.url }}/tags/{{ t | replace: " " "" }}">{{ t }}</a>{% assign prefix = ', ' %}{% endfor %}
						</div>
						<h2>{{ page.title }}</h2>

						{% if page.image %}
							<p><img src="{{ page.image }}" alt="{{page.title}}" /></p>
						{% elsif page.youtube %}
							<div class='embed-container'><iframe src="https://www.youtube.com/embed/{{page.youtube}}" frameborder="0" allowfullscreen></iframe></div>
						{% else %}

							<br>
						{% endif %}


						{{ content }}

						<p style="text-align: center; font-size: 24px;">⁂</p>

					</div>
					<div class="row">

						<div class="span3">


								<h3>Follow Nicolas</h3>
							<ul class="nav nav-list ghpb-nav-list">
{% for section_social_link in site.social_links.links %}
						{% if section_social_link.enabled %}
							<li>
								<a href="{{ section_social_link.url }}" target="_blank">
									{% if site.font_awesome.enabled and section_social_link.font_awesome_icon %}
										<i class="{{ section_social_link.font_awesome_icon }}" style="color: black;"></i>
									{% endif %}
									{{ section_social_link.name }}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
						</div>

						<div class="span5">
							{% if page.github %}
								<h3><i class="icon-github"></i> Code on Github</h3>
								<p>
								Code from this post is up on Github at <a href="https://github.com/{{page.github}}" target="_blank">{{page.github}}</a>
								</p>
							{% endif %}

							{% assign related_tag = page.tags[0] %}
							<h3>More in {{related_tag}}</h3>
							<ul class="nav nav-list ghpb-nav-list">
							{% for related_post in site.tags[related_tag] %}
								{% if page.title != related_post.title%}
									<li><a href="{{ site.url }}{{ related_post.url }}">{{related_post.title}}</a></li>
								{% endif %}
							{% endfor%}
							</ul>

						</div>
					</div>

				</div>
			</div>
			{% include body/sections/footer.html %}
		</div>
		{% include body/sections/javascript.html %}
	</body>
{% endcapture %}
{{ body_post_html | remove:'	' }}
