{% assign body_post_html = null %}
{% capture body_post_html %}
	{% assign enable_disqus = false %}

	{% if site.disqus.enabled and page.disqus == null %}
		{% assign enable_disqus = true %}
	{% elsif site.disqus.enabled and page.disqus.enabled == null %}
		{% assign enable_disqus = true %}
	{% elsif site.disqus.enabled and page.disqus.enabled %}
		{% assign enable_disqus = true %}
	{% endif %}

	<body>
		{% include body/sections/navbar.html %}
		{% include body/sections/alerts_and_notices/site.html %}
		<div class="container">
			<div class="row">
				<div class="span8 offset2">
					<div class="ghpb-post">

						<h2>
							<small>{{ page.date | date: "%B %-d, %Y" }}</small>
							<br />
							{{ page.title }}
						</h2>

						{% if page.image %}
							<img src="{{ page.image }}" alt="{{page.title}}" />
						{% endif %}

						{% if page.youtube %}
							<div class='embed-container'><iframe src="https://www.youtube.com/embed/{{page.youtube}}" frameborder="0" allowfullscreen></iframe></div>
						{% endif %}

						{{ content }}

						<p style="text-align: center; font-size: 24px;">⁂</p>
						
					</div>
					<div class="row">

						<div class="span3">


								<h3>Follow Nicolas</h3>
							<ul class="nav nav-list ghpb-nav-list">
{% for section_social_link in site.social_links.links %}
						{% if section_social_link.enabled %}
							<li>
								<a href="{{ section_social_link.url }}" target="_blank">
									{% if site.font_awesome.enabled and section_social_link.font_awesome_icon %}
										<i class="{{ section_social_link.font_awesome_icon }}" style="color: black;"></i> 
									{% endif %}
									{{ section_social_link.name }}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
						</div>


					{% if page.relatedtag or page.github %}
						<div class="span5">
							{% if page.github %}
								<h3><i class="icon-github"></i> Code on Github</h3>
								<p>
								Code from this post is up on Github at <a href="https://github.com/{{page.github}}" target="_blank">{{page.github}}</a>
								</p>
							{% endif %}
							{% if page.relatedtag %}
								<h3>More {{page.relatedtag}} posts</h3>
								<ul class="nav nav-list ghpb-nav-list">
								{% for related_post in site.tags[page.relatedtag] %}
									{% if page.title != related_post.title%}
										<li><a href="{{ site.url }}{{ related_post.url }}">{{related_post.title}}</a></li>
									{% endif %}
								{% endfor%}
								</ul>
							{% endif %}
							
						</div>
					{% endif %}



					</div>

				</div>
			</div>
			{% include body/sections/footer.html %}
		</div>
		{% include body/sections/javascript.html %}
		{% include body/sections/javascript/post/disqus.html %}
	</body>
{% endcapture %}
{{ body_post_html | remove:'	' }}