{% assign body_tag_html = null %}
{% capture body_tag_html %}
    <body>
        {% include body/sections/navbar.html %}
        <div class="container">
            <div class="row">
                <div class="span3 bio">
                    {% include body/sections/brief-bio.html %}
                    {% include body/sections/navlists.html %}
                </div>
                <div class="span7">
                    <div class="ghpb-post" style="margin: 30px">
                    <h1 align="center">{{ page.tag_name }}</h1>
                    {{ content }}
                    </div>

                    {% for p in site.posts %}
                    {% for t in p.tags %}
                    {% if t == page.tag_name %}

                        <div class="ghpb-post">

                                <div class="postmeta">{{ p.date | date: "%B %-d, %Y" }} &ndash;
                                    {% assign prefix = '' %}
                                    {% for t in p.tags %}{{ prefix }}<a href="{{ site.url }}/tags/{{ t | replace: " ","" }}">{{ t }}</a>{% assign prefix = ', ' %}{% endfor %}
                                </div>
                                <h2><a href="{{ site.url }}{{ p.url }}">{{ p.title }}</a></h2>

                                {% if p.image %}
                                <div class="row">
                                    <div class="span5 offset1">
                                        <a href="{{ site.url }}{{ p.url }}"><img src="{{ p.image }}" alt="{{ p.title }}" /></a>
                                    </div>
                                </div>
                                {% endif %}


                                {% if p.youtube %}
                                    <div class='embed-container'><iframe src="https://www.youtube.com/embed/{{p.youtube}}" frameborder="0" allowfullscreen></iframe></div>
                                {% endif %}

                                <br>
                                {{ p.excerpt }}

                                <p class="pull-right" style="margin-top: -25px"><small><a href="{{ site.url }}{{ p.url }}">Full post &raquo;</a>
                                </small></p>

                        </div>
                        <br>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}

                </div>
            </div>
            {% include body/sections/footer.html %}
        </div>
        {% include body/sections/javascript.html %}
    </body>
{% endcapture %}
{{ body_tag_html | remove:'    ' }}
