{% if site.sections.brief_bio.enabled %}
	{% assign section_brief_bio_html = null %}
	{% capture section_brief_bio_html %}
			{% if site.sections.brief_bio.image.enabled %}

					<img style="width: 150px; margin: 0 auto;" alt="Nicolas Kruchten" src="/images/nick_sq.jpg" class="thumbnail">

			{% endif %}

			{% if site.sections.brief_bio.content.enabled %}
				<div class="text-center">
					<p><strong>Nicolas Kruchten</strong><br />
						builds data visualization tools<br />
						at Plotly in Montreal, Canada.</p>
				</div>
			{% endif %}
			{% include body/sections/brief_bio/social-links.html %}
			{% include body/sections/brief_bio/github-projects.html %}
	{% endcapture %}
	{{ section_brief_bio_html | strip_newlines | remove:'	' }}
{% endif %}
