{% assign head_post_html = null %}
{% capture head_post_html %}
    <head>
        {% if page.title %}
            <title>Nicolas Kruchten: {{ page.title }}</title>
        {% elsif page.tag_name %}
            <title>Nicolas Kruchten: {{ page.tag_name }}</title>
        {% else %}
            <title>Nicolas Kruchten</title>
        {% endif %}

        <meta charset="utf-8">
        <meta name="author" content='{{ site.author | site.email }}'>
        {% if page.author and page.author_email %}
            <meta name="author" content='{{ page.author }} | {{ page.author_email }}'>
        {% elsif page.author %}
            <meta name="author" content='{{ page.author }}'>
        {% endif %}
        {% if paginator.previous_page %}
            <meta name="robots" content="nosnippet" />
        {% endif %}

        {% if page.excerpt %}
            <meta name="description" content="{{ page.excerpt | strip_html }}"/>
        {% elsif page.tag_name %}
            <meta name="description" content="{{ content | strip_html }}"/>
        {% else %}
            <meta name="description" content="Nicolas Kruchten is a software engineer in Montréal, Québec, Canada."/>
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ site.url }}/css/bundle.css" rel="stylesheet" media="screen">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
        {% if site.rss.enabled %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/rss.xml" />
        {% endif %}

        {% if site.favicon.enabled and site.favicon.local.enabled %}
            <link rel="icon" type="image/{{ site.favicon.local.type }}" href="{{ site.url }}{{ site.favicon.local.partial_url }}" />
        {% elsif site.favicon.enabled and site.favicon.remote.enabled %}
            <link rel="icon" type="image/{{ site.favicon.remote.type }}" href="{{ site.favicon.remote.full_url }}" />
        {% endif %}


        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-46914903-1', 'kruchten.com');
          ga('send', 'pageview');

        </script>
    </head>
{% endcapture %}
{{ head_post_html | strip_newlines | remove:'   ' }}
